# ---- Java / Spring Boot ----
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log
*.class
*.jar
*.war
*.iml
*.h2.db
*.mv.db
hs_err_pid*
*.db
.DS_Store

# Eclipse / IntelliJ IDEA
.project
.classpath
.settings/
.idea/
*.iws
*.ipr
*.iml

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# VS Code
.vscode/

# ---- Node / React ----
/frontend/node_modules/
/frontend/.env
/frontend/.next/
/frontend/build/
/frontend/dist/
/frontend/.cache
/frontend/yarn.lock
/frontend/package-lock.json

# React test coverage
/frontend/coverage/
