# Common
.DS_Store
*.log
*.class
*.jar

# Java
target/
*.iml
*.classpath
*.project
.idea/
*.war

# Node/React
frontend/node_modules/
frontend/dist/
frontend/.env

# Build files
build/
.env
*.env.local
*.env.development
*.env.production

# VSCode & IntelliJ
.vscode/
*.swp
